.title1 {
  font-size: clamp(0.875rem, 4vw, 1.125rem);
  font-weight: 700;
}

.title2 {
  font-size: 1rem;
  font-weight: 700;
}

.bigTitle {
  font-size: 2.25rem;
  font-weight: 700;
}

.headline {
  font-size: clamp(0.5625rem, 4vw, 0.75rem);
  font-weight: 500;

  &.bold {
    font-weight: 700;
  }

  &.gray {
    color: var(--gray-1);
  }

  &.red {
    color: var(--color-primary);
  }
}

.paragraph {
  font-size: 1rem;
  font-weight: 500;

  &.gray {
    color: var(--gray-1);
  }
}

.center {
  text-align: center;
}

.pink {
  color: var(--color-primary);
}
